body{
    background: whitesmoke;
    font-family:  Georgia, serif;
    font-size: large;
    color: darkslategray;
}



.in{
    
    border-radius: 10px;
    background: white;
    padding: 4px;
    width: 300px;
    height: 20px;
    text-align: center;
    color: darkslategray;
    font-size: 16px
}
::-webkit-input-placeholder {
    text-align: center;
    color: darkslategray;
}
.label{
    color: darkslategray;
    font-weight: bolder;
    font-size: 18px;
}

.btn{
    text-align: center;
    background: darkslategray;
    text-align: center;
    color: #dddddd;
    width: 200px;
    height: 40px;
    
}
.center_sign_up{

    position: absolute;  
    left: 25%;
    top: 15%;

}

.tbl_sign_up{
    border-width: 2px; 
    border-style: solid; 
    background-color:  #dddddd;
    width: 700px;

}


.hi_row{
    text-align: center; 
    background-color:  #dddddd; 
    color: darkslategray; 
    padding: 10px;
}




.err_msg{
    text-align: center; 
    color: darkred;
    font-size: 18px;
    cursor: default;

}


.some_margin{
    margin-left: 40px;
}