.float-container{
    display: flex;
    
}


#container{
  
    height: 400px;
 

    flex:4;
    overflow-y: auto;
    overflow-x: hidden;

    
        
}

#news_feed_table {
    border-collapse: collapse; /* Collapse borders */
    width: 650px;
    cursor: default;
    font-size: 18px; /* Increase font-size */
    position: sticky
}

/**
* Make header remains on the top of the page!
*/
#news_feed_table th{
position: sticky;
top: 0;
background-color: gray;
cursor: default;

}
#news_feed_table th, #news_feed_table td {
text-align: left; /* Left-align text */
padding: 10px; /* Add padding */
cursor: default;
}

#news_feed_table tr {
/* Add a bottom border to all table rows */
border-bottom: 1px solid gray;

}

#news_feed_table tr.header {
/* Add a grey background color to the table header and on hover */
background-color: gray;
padding: 5px;

}


.left_header{
    background-color: whitesmoke !important;
}
.left{
    max-width: 90px !important;
}
.inserted_online{
    background-color: gray;
    max-width: 90px !important;
    text-align: left; /* Left-align text */
    padding: 10px; /* Add padding */
    cursor: default;
    position: sticky;
    top: 0;
    background-color: gray;
    cursor: default;
    font-weight: bolder;
    font-size: 18px;
}

.td_online{
    text-align: left; /* Left-align text */
    padding: 10px; /* Add padding */
    cursor: default;
    font-size: 18px;
}

.search{
  
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 84%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 2px solid gray; /* Add a grey border */
    
    margin-bottom: 12px; /* Add some space below the input */
  
}

.mytitle{
    font-size: 24px;
    color:  #00154F;
    font-weight: bolder;
    margin-left: 35%;
}

.playing_now_tilte{
    font-size: 24px;
    color:  #00154F;
    font-weight: bolder;
  
}

.received_notif{
    text-align: center;

    color:  #00154F;
     
    padding: 10px; /* Add padding */
    cursor: default;
    position: sticky;
    top: 0;
   
    cursor: default;
    font-weight: bolder;
    font-size: 18px;
}

#cont_soon_container{
   
    height: 400px;   

    flex: 5;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 40px;
    
  
    
}

.comming_soon_title{
    font-size: 24px;
    color:  #00154F;
    font-weight: bolder;
    padding-left: 20px;
    top: 0;
}




#coming_soon_table {
    border-collapse: collapse; /* Collapse borders */
    width: 700px;
    cursor: default;
    font-size: 18px; /* Increase font-size */
    position: sticky

    
   
}

/**
* Make header remains on the top of the page!
*/
#coming_soon_table th{
width: 600px;
position: sticky;
top: 0;
background-color: gray;
cursor: default;

}
#coming_soon_table th, #coming_soon_table td {
text-align: left; /* Left-align text */
padding: 10px; /* Add padding */
cursor: default;
}

#coming_soon_table tr {
/* Add a bottom border to all table rows */
border-bottom: 1px solid gray;

}

#coming_soon_table tr.header {
/* Add a grey background color to the table header and on hover */
background-color: gray;
padding: 5px;

}

