body{
    background: whitesmoke;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: cadetblue;
}
.center{
    top: 20%;
    left: 40%;
    position: absolute;
}

.down{
    top: 30%;
    left: 40%;
    position: absolute;
}
a{
    cursor: pointer;
}